html {
    background-color:  #eee;
}

body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    color: #414141;
    box-sizing: border-box;
    background-color: lightblue;
}

header {
    text-align: center;
    background-color: #333333;
    padding: 0.5rem;
}
header h1 {
    color: #DD5735;
}
header p {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.section-one {
    background-color:white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}
section p {
    color: #DD5735;
}

.video-container {
    position: relative;
    width: 560px;
   
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; 
}

footer {
    
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 2rem;
}
footer p a {
    color: #DD5735;
}